* {
    margin: 0;
    box-sizing: border-box;
    font-family: OpenSans, Roboto-Light;
}

@font-face {
    font-family: OpenSans;
    src: url(/asset/fonts/OpenSans.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(/asset/fonts/Roboto-Light.ttf);
}

.nav-container {
    width: 15em;;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eae9e9;
    
}

.logo-container img {
    width: 100px;
    height: 100px;
    margin-left: 4.5em;
    margin-bottom: 1px;
    cursor: pointer;
}

.logo-title {
    text-align: center;
    padding-top: 0px;
    cursor: pointer;
    color: black;

    transform: translateY(-36px);
}

.nav-element-container {
    font-size: 18px;
    text-align: left;
    cursor: pointer;
}

.nav-element-container a {
    text-decoration: none;
    color: #00796B;
    font-weight: bold;
    transition: .3s;
}

.nav-element-container a:hover {
    color: #004D99;
}

.nav-element-container ul {
    list-style: none;
    padding: 0;
    margin: 0 2px 0 2px;
}

.nav-element-container li{
    padding: 15px 0 15px 0;
    transition: .5s;
}

.nav-element-container li:hover {
    background-color: rgb(213, 211, 211);
}
